.nav {
  background-color: white;
  padding: 1em 0;
  display: flex;
  box-shadow: 0 2px 2px 0px #d1d5db;
}

.nav .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.nav__logo {
  height: 2rem;
  width: auto;
}

.search-bar {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0;
  padding: 0.25em;
  margin: 0;
  font-size: 0.875rem;
}

.search-input:focus {
  outline: 2px solid black;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.25em;
  background-color: #434343;
  color: white;
  border: none;
  cursor: pointer;
}

.search-logo {
  width: 1rem;
  height: 1rem;
}

.search-button__text {
  display: none;
}

.nav__btn {
  background-color: transparent;
  border: none;
  font-family: "Playfair Display", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.nav__btn:focus,
.nav__btn:hover {
  opacity: 0.75;
}

.nav__user {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav__cart {
  position: relative;
  cursor: pointer;
}

.nav__cart > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.nav__cart__number {
  display: inline-block;
  position: absolute;
  top: -0.25em;
  right: -0.25em;
  height: 1.25em;
  font-size: 0.75rem;
  line-height: 1.25em;
  background-color: #EF6847;
  border-radius: 50px;
  padding: 0 0.25em;
  text-align: center;
}

@media (min-width: 700px) {
  .nav__logo {
    order: -1;
  }

  .search-bar {
    order: -1;
    flex: 1;
    max-width: min(50vw, 600px);
    margin: 0 auto;
  }
}