.product-slide__title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.product-slide__slide {
  position: relative;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  /* gap: 0.5em */
}

.product-slide__content {
  padding: 0.5em
}

.product-slide__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* height: 50%;; */
  border: none;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
  padding: 1em 0;
}

.product-slide__btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.product-slide__btn > svg {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  position: relative;
  stroke-width: 210px;
}

.product-slide__btn.next {
  right: 0;
}

@media (min-width: 700px) {

}